<div class="row">
	<div class="small-11 large-offset-1 columns">
		<h1>Reports</h1>
	</div>
</div>
<div class="row">
	<div class="small-3 columns" align="right">
    <strong>Council Report:</strong>
  </div>
  <div class="small-9 columns">
  	<%= @council_report.report_title %>
  </div>
</div>
<br/>
<div class="row">
		<div class="small-3 columns" align="right">
		Select Report:
	</div>
	<div class="small-9 columns">
		<table>
		  <tr>
		    <th>Report Title</th>
		  </tr>
		  <tr>
				<td><%= link_to 'Proposed Works Summary', proposed_works_summary_council_report_report_path(@council_report, 1) %></td>
		  </tr>
		  <tr>		
				<td><%= link_to 'Weighted Proposed Works', weighted_proposed_works_council_report_report_path(@council_report, 1) %></td>
		  </tr>
		</table>
	</div>
</div>
<div class="row">
	<div class="small-11 large-offset-1 columns">
		<ul class="inline-list">
			<li><%= link_to 'Back', council_report_path(@council_report) %></li>
		</ul>
	</div>
</div>
